.contentPageWelcome {
  background-color: #b7fbba;
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.encabezado {
  width: 100%;
  height: auto;
  background-color: #007bff;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid white;
  z-index: 19;
}
.mainContent {
  overflow-y: hidden;
}
.resgistradoLogoFundaMostrar img {
  width: 5%;
  height: auto;
  object-fit: cover;
  border-radius: 100vh;
  position: absolute;
  right: 2%;
  top: 13%;
}
.contentRegistroMostrarCompletoLogo {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
}
.RegisterCerrarFundacloseFotoCompleta {
  position: absolute;
  top: 9%;
  left: 2%;
  font-size: 180%;
  color: #ffffff;
}
.inicioSesion button {
  position: absolute;
  right: 1%;
  top: 2.5vh;
  height: 5vh;
}
.inicioSesion button h5 {
  align-items: center;
  margin: 0;
}
.namePage {
  text-align: center;
  padding-top: 1vh;
  color: #ffffff;
}
.namePage h3 {
  margin: 0;
  font-family: "Yeseva One", serif;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
}
.namePage h4 {
  margin: 0;
  font-family: "Yeseva One", serif;
  font-weight: 500;
  font-style: normal;
  padding-bottom: 1%;
}

/* css fuente para el tipo de letra */
.yeseva-one-regular {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}
.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

/*  */

/* vista previa  */
.contenedorVistaPrevia {
  width: 96%;
  height: auto;
  margin-left: 2%;
}
.forma1 {
  width: 100%;
  height: auto;
  margin-top: 12vh;
  background-color: #007bff;
  border-radius: 20px 20px 0 0;
}
.btnsInfor {
  display: flex;
  gap: 4%;
  margin-top: 4%;
  padding-bottom: 16%;
}
.btnsInfor .btnUno {
  background-color: #085ec5;
  color: white;
}
.btnsInfor .btnDos {
  background-color: #007bff;
  border-color: white;
  color: white;
  border: 1px solid #ced4da;
}
.forma1Texto1 {
  font-family: "Yeseva One", serif;
  font-weight: 700;
  font-style: normal;
  padding-top: 14%;
  width: 70%;
  margin: 0;
  color: white;
  padding-left: 3%;
}
.forma1Texto1 h1 {
  font-family: "Yeseva One", serif;
  font-weight: 700;
  font-style: normal;
  width: 80%;
  margin: 0;
  color: white;
  margin-bottom: 3%;
}
.forma1Texto1 p {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  width: 50%;
  margin: 0;
  color: white;
}
.forma2 {
  width: 100%;
  height: auto;
  padding-top: 10%;
  display: flex;
}
.forma2Sector1 {
  width: 40%;
  height: 100%;
}
.forma2Sector2 {
  width: 60%;
  height: 100%;
  display: grid;
  place-items: center;
}
.forma2Sector1 h1 {
  font-family: "Yeseva One", serif;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  color: black;
}
.forma2Sector1 p {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}
.cuadroObjetivo {
  width: 90%;
  height: auto;
  background-color: #b8e3ff;
  margin-bottom: 5%;
  border-radius: 8px;
}
.cuadroObjetivo h3 {
  font-family: "Yeseva One", serif;
  font-weight: 900;
  font-style: normal;
  margin: 0;
  padding-left: 5%;
  padding-top: 5%;
}
.cuadroObjetivo p {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 5%;
}
.cuadroPrincipios {
  width: 90%;
  height: auto;
  background-color: #b8e3ff;
  border-radius: 8px;
  margin-bottom: 5%;
}
.cuadroPrincipios h3 {
  font-family: "Yeseva One", serif;
  font-weight: 900;
  font-style: normal;
  margin: 0;
  padding-left: 5%;
  padding-top: 5%;
}
.cuadroPrincipios ul li {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
.cuadroGeneral {
  width: 90%;
  height: auto;
  background-color: #b8e3ff;
  border-radius: 8px;
  margin-bottom: 5%;
}
.cuadroGeneral h3 {
  font-family: "Yeseva One", serif;
  font-weight: 900;
  font-style: normal;
  margin: 0;
  padding-left: 5%;
  padding-top: 5%;
}
.cuadroGeneral ul li {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
.cuadroMision {
  width: 90%;
  height: auto;
  background-color: #b8e3ff;
  border-radius: 8px;
  margin-bottom: 5%;
}
.cuadroMision h3 {
  font-family: "Yeseva One", serif;
  font-weight: 900;
  font-style: normal;
  margin: 0;
  padding-left: 5%;
  padding-top: 5%;
}
.cuadroMision p {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 5%;
}
.cuadroVision {
  width: 90%;
  height: auto;
  background-color: #b8e3ff;
  border-radius: 8px;
  margin-bottom: 5%;
}
.cuadroVision h3 {
  font-family: "Yeseva One", serif;
  font-weight: 900;
  font-style: normal;
  margin: 0;
  padding-left: 5%;
  padding-top: 5%;
}
.cuadroVision p {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 5%;
}
.forma3 {
  width: 100%;
  height: auto;
  background-color: #b8e3ff;
  display: flex;
  padding-top: 7%;
}
.forma3Sector1 {
  width: 50%;
}
.forma3Sector1 h1 {
  font-family: "Yeseva One", serif;
  font-weight: 900;
  font-style: normal;
  margin: 0;
  padding-left: 5%;
  padding-top: 5%;
}
.forma3Sector1 p {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 5%;
}
.forma3Sector2 {
  width: 50%;
  display: grid;
  place-items: center;
  padding-top: 5%;
}
.direccion {
  width: 80%;
  background-color: #007bff;
  border-radius: 8px;
  margin-bottom: 5%;
}
.direccion h5 {
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 120%;
  font-family: "Yeseva One", serif;
  font-weight: 900;
  font-style: normal;
  color: white;
  margin: 0;
}
.direccion p {
  padding-left: 5%;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  color: white;
  margin-bottom: 5%;
}
.telefono {
  width: 80%;
  background-color: #007bff;
  border-radius: 8px;
  margin-bottom: 5%;
}
.telefono h5 {
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 120%;
  font-family: "Yeseva One", serif;
  font-weight: 900;
  font-style: normal;
  color: white;
  margin: 0;
}
.telefono p {
  padding-left: 5%;
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  color: white;
  margin-bottom: 5%;
}
.correo {
  width: 80%;
  background-color: #007bff;
  border-radius: 8px;
  margin-bottom: 5%;
}
.correo h5 {
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 120%;
  font-family: "Yeseva One", serif;
  font-weight: 900;
  font-style: normal;
  margin: 0;
  color: white;
}
.correo p {
  padding-left: 5%;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  margin-bottom: 5%;
  color: white;
}
.forma4 {
  width: 100%;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}
.forma4Sesion1 b {
  width: 80%;
  padding-bottom: 5%;
  font-family: "DM Serif Display", serif;
  font-weight: 700;
  font-style: normal;
  margin: 0;
}
.forma5 {
  width: 100%;
  height: auto;
  background-color: #007bff;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: center;
  gap: 15%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-bottom: 3%;
  text-align: center;
}
.forma5 b {
  margin: 0;
  width: 100%;
  color: white;
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  font-style: normal;
}
.PoliticaSercicio {
  display: flex;
  justify-content: flex-end;
  gap: 5%;
  padding-bottom: 3%;
  margin: 0;
  width: 40%;
  color: white;
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  font-style: normal;
}

/*  */
.contentPopupSesion {
  width: 41vh;
  height: 38vh;
  display: grid;
  place-items: center;
  background-color: #e6e6fa;
  position: relative;
}
.popUpsesion {
  position: fixed;
  width: 100%;
  z-index: 20;
  height: 100vh;
  top: 0vh;
  left: 0%;
  background-color: #e6e6fa;
  display: grid;
  place-items: center;
}
.card1 {
  width: 33vh;
  height: 18vh;
  background-color: white;
  border-radius: 5px 5px 1000px 1000px;
  position: absolute;
  bottom: 0;
  display: grid;
  place-items: center;
}
.card2 {
  width: 33vh;
  height: 18vh;
  background-color: white;
  border-radius: 1000px 1000px 5px 5px;
  position: absolute;
  top: 0;
  display: grid;
  place-items: center;
}
.btnclose {
  width: 5vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 25%;
}
.menuBurger {
  font-size: 150%;
  position: fixed;
  left: 2%;
  top: 2%;
  z-index: 29;
  color: #ffffff;
}
.equisBurger {
  font-size: 150%;
  position: fixed;
  left: 2%;
  top: 2.5vh;
  z-index: 29;
  color: #ffffff;
}
.popUpMenuBurger {
  position: fixed;
  width: 30%;
  height: 100vh;
  background-color: #007bff;
  z-index: 20;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding-top: 5%;
}
.LinkMenuSacar h5 {
  color: black;
  font-size: 100%;
  margin: 0;
  margin-top: 5%;
  color: #ffffff;
}
.ReactRouterDom {
  position: absolute;
  width: 80%;
  top: auto;
  left: 20%;
  z-index: 20;
}
.dataUser {
  width: 80%;
  height: auto;
  background-color: #007bff;
  margin-top: 18%;
  margin-left: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userName {
  margin: 0;
  color: #ffffff;
}
.faEllipsisVertical {
  background-color: #007bff;
  border-color: #007bff;
  padding: 8%;
  color: #ffffff;
  top: 7.5%;
}
.sesionCloseOCambiar {
  position: absolute;
  width: 22vh;
  top: 10.8%;
  left: 92%;
  background-color: #007bff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.sesionCloseOCambiar button {
  border-color: #007bff;
  background-color: #007bff;
  color: white;
}
.usuarioMenu img {
  width: 15%;
  height: auto;
  border-radius: 100vh;
}
.letraIniciodeSesion {
  text-align: center;
  width: 100%;
  position: fixed;
  top: 15%;
}
.esteOEste {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 85%;
  z-index: 10;
}
.inforFundaInicioDeSesion {
  position: absolute;
  left: 20%;
  top: 30%;
  width: 100%;
}
.zonaDePubliInicioDeSesion {
  position: absolute;
  left: -2%;
  top: 46%;
  width: 100%;
}
.mainHomeInicioDeSesion {
  position: absolute;
  top: 1%;
  left: 5%;
  width: 100%;
}
.curriculumInicioDeSesion {
  position: absolute;
  top: 16%;
  left: -4%;
  width: 100%;
}
.chatInicioSesion {
  position: absolute;
  top: 77.5%;
  left: -29%;
  width: 100%;
}
.galeriaInicioDeSesion {
  position: absolute;
  top: 61.5%;
  left: -25%;
  width: 100%;
}
.encabezadoGaleria {
  position: fixed;
  top: 0;
  left: 0;
}

/* css Zona de publicacion */
.contentUsuarioRegistradoMostrarServicio {
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 10vh;
  left: 0%;
  overflow-y: auto;
}
.navegacionUsuarioAdm {
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  padding-top: 12vh;
  place-items: center;
  display: grid;
  background-color: #d6f2ff;
  padding-bottom: 4%;
}
.navegacionAdmDeZonaPublicacion {
  overflow-y: hidden;
  width: 100%;
  height: auto;
  place-items: center;
  display: grid;
  background-color: #ffffff;
}
.contentRutasExpancioComunicado {
  place-items: center;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding-bottom: 2%;
  background-color: #d6f2ff;
}
.publicidad {
  width: 30vh;
  height: 40vh;
  border-radius: 5px;
  background-color: #1eadff;
  margin-top: 5%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}
.publicidad:hover {
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.iconPublicatio {
  font-size: 300%;
  display: grid;
  place-items: center;
  width: 100%;
  padding-top: 35%;
  align-items: center;
}
.popUpSubirFhotoAndVideo {
  width: 100%;
  height: 100vh;
  z-index: 59;
  position: fixed;
  overflow-y: auto;
  top: 0%;
  background-color: #dff0ff;
}
.contenscrollSubirFhotoAndVideo {
  width: 100%;
  height: auto;
  text-align: center;
  display: grid;
  place-items: center;
}
.imagenaSubir {
  width: 65vh;
  height: 60vh;
  object-fit: cover;
  margin-top: 2%;
}
.imagenaSubir img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menuDeImmagenaSubir {
  width: 100%;
  height: 10vh;
  background-color: #007bff;
  justify-content: space-around;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
}
.salirDeSubirFoto {
  font-size: 180%;
}
.publicarFotoBtn {
  width: 20vh;
  height: 6vh;
  align-items: center;
}
.publicarFotoBtn h5 {
  margin: 0;
}
.videosContenidoPublicado {
  width: 100%;
  background: #333;
}
.videosContenidoPublicado source {
  width: 100%;
  height: 100%;
}
.escribirUnComentarioAlPublicarFoto {
  width: 70%;
  height: 10vh;
  border-radius: 5px;
  margin-top: 10%;
  color: black;
}
.videosSubidos {
  width: 100%;
  height: 100%;
}
.cajaSubirFotoyVideos {
  display: flex;
  gap: 5%;
  width: 80%;
  align-items: center;
}
.closePublicacion {
  position: absolute;
  width: 50vh;
  background-color: #007bff;
  z-index: 298;
  border-radius: 5px;
  top: 33%;
  left: 39%;
  text-align: center;
  color: white;
}
.contentMainHome {
  width: 100%;
  background-color: #ffffff;
}
.closePublicacionBtnCentrado {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10%;
}
.closePublicacionBtnCentrado button {
  width: 30%;
}
/* zona Publicacion Color anuncios css  */

.contentAnunciosPublicidadColor {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #e3f2fd;
  top: 0;
  left: 0;
  z-index: 30;
}
.anuncioAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  margin-top: 11%;
}
.anuncioImportanteColorFavorit {
  resize: none;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  width: 50vh;
  height: 50vh;
}
.colorPicker {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.colorPicker button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  outline: none;
  /* outline: none; para eliminar todos los efectos de los btn que bienen por defecto */
}
.btnPublicarAnuncioColor {
  position: absolute;
  top: 1%;
  right: 1%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  font-style: normal;
}
.contentSalirPopupColor {
  position: absolute;
  top: 2%;
  left: 3%;
  display: flex;
  width: 94%;
  align-items: center;
  gap: 4%;
}
.iconSalirPublicadorColor {
  top: 2%;
  left: 3%;
  font-size: 180%;
}
.subirAnuncio {
  font-size: 120%;
  margin: 0;
  font-family: "DM Serif Display", serif;
  font-weight: 900;
  font-style: normal;
}

/* mainHome css  */
.cartasPublicaciones {
  width: 100%;
  height: 400px;
  display: flex;
  object-fit: cover;
}
.cartasPublicaciones img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cartasContenExterior {
  width: 60%;
  display: grid;
  gap: 20px;
  place-items: center;
}
.gestionamientoCarta {
  background-color: #1eadff;
  border-radius: 5px;
  display: grid;
  place-items: center;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 47, 255, 0.5);
  width: 98%;
}
.cajaContenSubidaAdmin {
  align-items: center;
  display: flex;
  padding-left: 2%;
  padding-top: 4%;
  justify-content: left;
  width: 100%;
  gap: 4%;
}
.adminFundaAyudaSubeFotoNombre {
  margin: 0;
  color: black;
  width: 70%;
  font-family: "Yeseva One", serif;
  font-weight: 800;
  font-style: normal;
}
.comment {
  width: 410px;
  height: auto;
  font-size: 100%;
  background-color: green;
}
.comment p {
  width: 100%;
}
.adminSubePublicacionFoto {
  width: 11%;
  height: auto;
  border-radius: 100px;
}
.adminSubePublicacionFoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100px;
}
.closeFotoCompleta {
  font-size: 180%;
  position: absolute;
  top: 3%;
  left: 3%;
  color: white;
}
.mostrarLogoCompleto {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 29;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  place-items: center;
  display: grid;
}
.commentPubliAdmin {
  width: 100%;
  height: auto;
  overflow-y: auto;
  color: black;
}
.cartaInformacionAdminPubli {
  width: 100%;
}
.carruselDeCards {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: hidden;
  background-color: #1eadff;
}
.manejarCarrusel {
  display: flex;
  transition: transform 0.5s ease;
}
.definicionContent {
  width: 100%;
  position: relative;
  display: grid;
  place-items: center;
  background-color: #d6f2ff;
}
.heartReaccion {
  font-size: 180%;
}
.commentReaccion {
  font-size: 180%;
}
.shartReaccion {
  font-size: 180%;
  color: gray;
}
.cantidadMeGustas {
  margin: 0;
  font-size: 45%;
  text-align: center;
}
.reacciones {
  display: flex;
  justify-content: space-around;
}
.black {
  color: gray;
}
.liked {
  color: red;
}

/* chat css  */

.contentChat {
  width: 100%;
}
.fotoDelAbministrador{
  width: 7vh;
}
.fotoDelAbministrador img {
  width: 70%;
  height: auto;
  border-radius: 100px;
  margin-left: 3%;
}
.fotoDelosUsuarios{
  width: 7vh;
}
.fotoDelosUsuarios img {
  width: 80%;
  height: auto;
  border-radius: 100px;
  margin-left: 25%;
  display: flex;
  align-items: center;
}
.chatDelAdministrador h5 {
  margin: 0;
  padding-left: 6%;
}
.popChatDelAdmin {
  position: absolute;
  top: 0;
  left: 32%;
  background-color: #b8e3ff;
  width: 66%;
  height: 100vh;
}
.conversacionCliente {
  margin-top: 10vh;
}
.salirDePopUpChat {
  font-size: 150%;
  margin-left: 1%;
}
.barraChat {
  background-color: #007bff;
  width: 62%;
  height: auto;
  align-items: center;
  display: flex;
  color: white;
  padding: 2%;
  position: fixed;
}
.clienteHablaChat {
  width: 6vh;
  height: 6vh;
  border-radius: 55px;
  background-color: #18cf21;
  margin-left: 1%;
}
.nameClienteHablar {
  margin: 0;
  margin-left: 4%;
  font-size: 100%;
}
.clienteReflejadoEnScroll {
  width: 100%;
  height: 78vh;
  background-color: #b8e3ff;
  overflow-y: auto;
}
.scrollChatearCoversation {
  width: 100%;
  height: auto;
  margin-top: 18%;
}
.mensajeEnviado {
  background-color: #78cdff;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  margin-left: 35%;
  color: #212529;
}

.mensajeRecibido {
  align-self: flex-start;
  background-color: #1eadff;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  color: #212529;
}

.escritor {
  word-break: break-word;
}
.nameScrollHablar {
  margin: 0;
  text-align: center;
  margin-top: 29%;
  font-size: 120%;
}
.contentChatear {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: #007bff;
  align-items: center;
  display: flex;
}
.chatear {
  position: fixed;
  justify-content: center;
  display: flex;
  width: 66%;
  align-items: center;
  gap: 17%;
}
.newMessage {
  width: 70%;
  height: 5vh;
  border-radius: 25px;
  border: 1px solid #ced4da;
}
.newMessage:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.Enviar {
  font-size: 180%;
  color: white;
}
.contentChatPublicidad {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  background-color: #b8e3ff;
  height: 100vh;
  width: 30%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
.chatDelAdministrador {
  padding: 10px;
  width: 90%;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: #007bff;
  margin-bottom: 2%;
}
.datosChatUsuario {
  display: flex;
  align-items: center;
  gap: -4%;
}
.dataAdminChat {
  display: flex;
  align-items: center;
  gap: -4%;
}
.chatDelAdministrador:hover {
  opacity: 0.7;
}
.iniciarNuevoChat {
  position: absolute;
  width: 90%;
  top: 15%;
  left: 5%;
  background-color: #1eadff;
}
.scrollUsuarios{
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 12vh;
}

/* Curriculum.css */
.subirPublicacionCurrilum {
  width: 100%;
  height: 11vh;
  position: absolute;
  top: 10vh;
  left: 0;
  align-items: center;
  display: grid;
  z-index: 9;
}
.subirPDFCurriculumBtn button {
  position: absolute;
  right: 2%;
  top: 1vh;
  width: 18vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #007bff;
}
.SubirPDFMOstrar {
  width: 20%;
  height: auto;
  border-radius: 99px;
  margin-left: 1%;
}
.SubirPDFMOstrar button {
  width: auto;
  height: auto;
  background-color: #1eadff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: black;
  position: absolute;
  top: 10vh;
  right: 3%;
}
.ContentpdfcuRRiculum {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 98%;
  position: absolute;
  top: 0;
  left: 1%;
  padding-top: 20%;
  background-color: #d6f2ff;
}
.tituloCurriculum {
  position: absolute;
  top: 29%;
  left: 2%;
  color: black;
  margin: 0;
}
.cargadorSeñal {
  position: fixed;
  top: 50%;
  left: 44%;
}
.pdfCard {
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1eadff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: black;
}
.pdfIcon {
  margin-bottom: 8px;
}
.pdfActions a {
  display: block;
  margin: 8px 0;
}

.pdfActions a,
.pdfActions svg {
  cursor: pointer;
}
.subirPDFCurriculumBtn {
  width: 100%;
  height: 92vh;
  background-color: #ffffff;
  top: -2vh;
  left: 0;
  position: absolute;
}
.comentContentPubli {
  width: 50%;
  height: auto;
}
.comentContentPubli textarea {
  width: 100%;
  height: auto;
  margin-left: 50%;
  margin-top: 13%;
}
.pdfPopUPComment {
  font-size: 480%;
  width: 100%;
  margin-top: 5%;
}
.linealSeparador {
  height: 1px;
  width: 18vh;
  background-color: black;
  margin-bottom: 8%;
}
.tipoDeTrabajo {
  margin: 0;
  margin-bottom: 20%;
}
.popUpBasura {
  position: fixed;
  width: 50%;
  height: 30vh;
  background-color: #007bff;
  border-radius: 5px;
  top: 35%;
  left: 25%;
  color: white;
}
.siNoBasura {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10%;
  margin-top: 8%;
}
.btnNo {
  width: 15%;
}
.btnSi {
  width: 15%;
}

/* galeria css  */
.galeriaItem {
  width: 90%;
  height: auto;
  padding-top: 6%;
}
.galeriaItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.galeriaGrid {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  position: absolute;
  top: 80px;
  left: 0;
  background-color: #d6f2ff;
}
.mostrarCompletaFotoGaleria {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  flex-direction: column;
}
.mostrarCompletaFotoGaleria img {
  width: 100%;
}
.closeIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  cursor: pointer;
  font-size: 24px;
}
.prevIcon,
.nextIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  cursor: pointer;
  font-size: 48px;
  z-index: 1002;
}
.prevIcon {
  left: 20px;
}
.nextIcon {
  right: 20px;
}
.fullImage {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.heartReaccion.liked {
  color: red;
}

/* informacion fundacion css  */
.contactosInformacionFundacion {
  display: flex;
}
.cuadroSectorNumeros {
  width: 75%;
  background-color: #007bff;
  border-radius: 10px;
  padding: 2%;
  margin-bottom: 3%;
}
.cuadroSectorCorreo {
  width: 75%;
  background-color: #007bff;
  border-radius: 10px;
  padding: 2%;
  margin-bottom: 3%;
}
.cuadroNit {
  width: 75%;
  background-color: #007bff;
  border-radius: 10px;
  padding: 2%;
  margin-bottom: 3%;
}
.fundadores {
  width: 75%;
  background-color: #007bff;
  border-radius: 10px;
  padding: 2%;
  margin-bottom: 3%;
}
.MensajeContactosFundacion {
  width: 50%;
}
.MensajeContactosFundacion h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 240%;
  padding-left: 5%;
  margin: 0;
}
.MensajeContactosFundacion p {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 5%;
}
.sectorDatosContactos {
  width: 50%;
  display: grid;
  place-items: center;
}
.numero1 {
  display: flex;
  align-items: center;
  gap: 3%;
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
.numero2 {
  display: flex;
  align-items: center;
  gap: 3%;
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
.correoElectronico {
  display: flex;
  align-items: center;
  gap: 3%;
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
.nit {
  display: flex;
  align-items: center;
  gap: 3%;
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
.contentInnformacionFundaPublicidad {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 10vh;
  background-color: #d6f2ff;
}
.googleMap {
  margin-bottom: 5%;
  margin-left: 10%;
}
.iconWhatsappInfor {
  font-size: 180%;
  color: green;
}
.fatAtIconInforCorreo {
  font-size: 180%;
  color: red;
}
.NITInfor {
  font-size: 130%;
  color: white;
}
.subtitulosDeInfor {
  font-size: 140%;
  margin: 0;
  margin-top: 3%;
  font-family: "Oleo Script", system-ui;
  color: white;
  font-family: "Yeseva One", serif;
  font-weight: 900;
  font-style: normal;
}
.subtitulosDeInforGoogleMap {
  font-size: 140%;
  margin: 0;
  margin-top: 3%;
  font-family: "Oleo Script", system-ui;
  color: black;
  font-family: "Yeseva One", serif;
  font-weight: 900;
  font-style: normal;
  width: 90%;
}
.cantidadFundadores {
  list-style: none;
}
.cantidadFundadores li b {
  color: white;
  font-size: 120%;
}
.cantidadFundadores li {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

/* anuncio biblicos css  */

.anuncio {
  background-color: #1eadff;
  border-radius: 5px;
  display: grid;
  place-items: center;
  position: relative;
  box-shadow: 0 0 10px rgb(3 55 227 / 50%);
  width: 60%;
  height: 50vh;
  margin-bottom: 4%;
}
.contentCardExterior {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(460px, 1fr));
  gap: 20px;
  place-items: center;
  overflow-x: hidden;
  padding-top: 12vh;
  height: auto;
}
.contentAnuncioBiblicos {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.navegacionUsuarioAdmAnuncio {
  width: 95%;
  height: 100%;
  display: grid;
  place-items: center;
}
.anuncioBiblicoFrase {
  width: 100%;
  height: 75%;
  position: absolute;
  bottom: 0;
}
.cajaContenSubidaAdminAnuncioBiblicos {
  display: flex;
  align-items: center;
  gap: 10%;
  margin: 0;
  height: 10vh;
  position: absolute;
  top: 1%;
  width: 100%;
}
.adminSubePublicacionFotoAnuncioBiblicos {
  width: 10vh;
  height: 10vh;
  align-items: center;
}
.adminSubePublicacionFotoAnuncioBiblicos img {
  width: 100%;
  height: auto;
  border-radius: 200px;
}
.fraseAnuncioBriblicosVer {
  text-align: center;
  height: 36vh;
  margin: 0;
  display: grid;
  align-items: center;
}
.popupAnuncio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  z-index: 19;
}
.popupContent {
  max-width: 400px;
  width: 90%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  display: grid;
  text-align: center;
  align-items: center;
}
.popupCloseIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #333;
}
.textAnuncioPopUp {
  margin: 0;
  height: 81vh;
  overflow-y: auto;
}
.apoyoScrollDerrame {
  overflow-y: hidden;
}
.mostrarImgLogoConEfectoGrande {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.mostrarImgLogoConEfectoGrande img {
  width: auto;
  height: auto;
  object-fit: cover;
}
/* donacion css  */

.contentDonacionFormu {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1eadff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 28%;
}
.terminosCOndicionesFormuDona b{
  width: 60vh;
}
.contentDonacionScroll {
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  padding-top: 0;
  place-items: center;
  display: grid;
  background-color: #1eadff;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d6f2ff;
  z-index: 1000;
  transform: translate(-50%, -50%);
}
.popupContent {
  background-color: #1eadff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
  width: 100%;
}
.popupContent h4 {
  margin-top: 0;
  font-family: "DM Serif Display", serif;
  font-weight: 600;
  font-style: normal;
}
.popupContent p {
  margin: 10px 0;
}
.popupContent b {
  font-family: "DM Serif Display", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 200%;
}
.popupCloseIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.formularioDonacion {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formularioDonacion input[type="text"],
.formularioDonacion input[type="email"],
.formularioDonacion input[type="tel"],
.formularioDonacion input[type="number"],
.formularioDonacion input[list],
.formularioDonacion input[type="checkbox"],
.formularioDonacion button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #dff0ff;
  color: black;
}
.formularioDonacion input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}
.formularioDonacion button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.formularioDonacion button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.formularioDonacion button:hover:not(:disabled) {
  background-color: #007bff;
}
.formularioDonacion div {
  display: flex;
  align-items: center;
}
.formularioDonacion .LimiteMaxDona {
  margin: 0;
  color: red;
}
.terminosCOndicionesFormuDona{
  flex-direction: column;
}
.todosLosTerminos{
  max-width: 50vh;
}
.aviso {
  width: 247px;
  text-align: center;
  font-size: 90%;
  font-family: "DM Serif Display", serif;
  font-weight: 900;
  font-style: normal;
}
.TerminosCondicionAcepto {
  font-family: "DM Serif Display", serif;
  font-weight: 900;
  font-style: normal;
  color: black;
}

/* recuperacion de los datos del formulario de donacion css  */
.popUpCuadroFromBox {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100vh;
  z-index: 30;
}
.popupContent {
  position: relative;
}

.popupCloseIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}
.donationItem {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #1eadff;
  background-color: #1eadff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 30vh;
  height: 5vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.iconSalirfaArrowLeft {
  font-size: 180%;
  margin-top: 2%;
  margin-left: 1%;
  position: absolute;
}
.contentScrollFromBox {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: #b8e3ff;
  padding-top: 6%;
  padding-left: 5%;
}
.listIcon {
  margin-right: 10px;
}
.closePublicacionBtnCentrado {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.closePublicacionBtnCentrado button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btnAceptar {
  background-color: #007bff;
}
.entiendoAceptoTrans {
  font-family: "DM Serif Display", serif;
  font-weight: 900;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  /* vistaPricipal  */
  .namePage {
    width: 100%;
    display: grid;
    place-items: center;
  }
  .namePage h3 {
    width: 70%;
    font-size: 90%;
    height: auto;
    display: grid;
    place-items: center;
    align-items: center;
    font-weight: 900;
    margin-top: -1%;
  }
  .encabezado {
    width: 100%;
    height: auto;
    background-color: #007bff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 19;
  }
  .mostrarImgLogoConEfectoGrande img {
    width: 100%;
  }
  .forma1 {
    width: 100%;
    height: auto;
  }
  .forma1Texto1 {
    position: relative;
    width: 100%;
    padding-top: 24%;
  }
  .forma1Texto1 h1 {
    width: 90%;
    font-size: 200%;
  }
  .forma1Texto1 p {
    width: 66%;
  }
  .btnsInfor {
    padding-bottom: 23%;
  }
  .forma2 {
    flex-direction: column;
  }
  .forma2Sector1 {
    width: 96%;
  }
  .forma2Sector2 {
    width: 96%;
  }
  .forma2Sector3 {
    width: 96%;
  }
  .forma2Sector4 {
    width: 96%;
  }
  .forma2Sector5 {
    width: 96%;
  }
  .forma3 {
    flex-direction: column;
  }
  .forma3Sector1 {
    width: 96%;
  }
  .forma3Sector2 {
    width: 96%;
  }
  .forma4Sesion1 b {
    font-size: 70%;
  }
  .forma5 {
    gap: 2;
  }
  /* informacion Sobre la Fundacion  */
  .contactosInformacionFundacion {
    display: grid;
    place-items: center;
  }
  .MensajeContactosFundacion {
    width: 96%;
  }
  .sectorDatosContactos {
    width: 100%;
  }
  .MensajeContactosFundacion h2 {
    padding-left: 0;
  }
  .MensajeContactosFundacion p {
    padding-left: 0;
  }
  .subtitulosDeInforGoogleMap {
    margin-left: -7%;
    width: 100%;
  }
  .resgistradoLogoFundaMostrar img {
    width: 5vh;
    height: 5vh;
    object-fit: cover;
    border-radius: 100vh;
    position: absolute;
    right: 2%;
    top: 24%;
  }
  .menuBurger {
    font-size: 173%;
    position: fixed;
    left: 2%;
    top: 2.5vh;
    z-index: 29;
    color: #ffffff;
  }
  .popUpMenuBurger {
    position: fixed;
    width: 28vh;
    height: 100vh;
    background-color: #007bff;
    z-index: 20;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .cartasContenExterior {
    width: 100%;
    display: grid;
    gap: 20px;
    place-items: center;
  }
  .cajaContenSubidaAdmin {
    align-items: center;
    display: flex;
    padding-left: 2%;
    padding-top: 4%;
    justify-content: center;
    width: 100%;
    gap: 5%;
  }
  .contentCardExterior {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    place-items: center;
    overflow-x: hidden;
    margin-top: 0;
    height: auto;
  }
  .anuncio {
    border-radius: 5px;
    display: grid;
    place-items: center;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 96%;
    height: 50vh;
  }
  .RegistroBarraFundaLogo img {
    width: 100%;
  }
  .RegisterCerrarFundacloseFotoCompleta {
    position: absolute;
    top: 4%;
    font-size: 180%;
    color: white;
    left: 88%;
  }
  .pdfCard {
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    width: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .linealSeparador {
    height: 1px;
    width: 15vh;
    background-color: black;
    margin-bottom: 8%;
  }
  .ContentpdfcuRRiculum {
    display: grid;
    flex-wrap: wrap;
    gap: 16px;
    width: 98%;
    position: absolute;
    top: 0;
    left: 1%;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding-top: 50%;
    place-items: center;
  }
  .comentContentPubli textarea {
    width: 100%;
    height: auto;
    margin-left: 16%;
    margin-top: 33%;
    background-color: white;
    color: black;
  }
  .comentContentPubli {
    width: 70%;
    height: auto;
  }
  .cargadorSeñal {
    position: fixed;
    top: 50%;
    left: 26%;
  }
  .publicidad {
    width: 30vh;
    height: 20vh;
    border-radius: 5px;
    margin-top: 5%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .iconPublicatio {
    font-size: 300%;
    width: 100%;
    padding-top: 35%;
    margin-top: -26%;
  }
  .manejarImagenSubir {
    width: 40vh;
    height: 50vh;
  }
  .imagenaSubir {
    width: auto;
    object-fit: cover;
    margin-top: 2%;
  }
  .escribirUnComentarioAlPublicarFoto {
    width: 95%;
    height: 10vh;
    border-radius: 5px;
    margin-top: 27%;
    background-color: white;
  }
  .colorPicker {
    margin-top: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(49px, 1fr));
    width: 100%;
  }
  .anuncioImportanteColorFavorit {
    font-size: 16px;
    height: 50vh;
    width: 100%;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  .subirAnuncio {
    text-align: center;
    margin: 0;
    margin-top: 3.5%;
    font-family: "Oleo Script", system-ui;
    font-size: 130%;
  }
  .btnPublicarAnuncioColor {
    position: absolute;
    top: 1%;
    right: 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .publicarFotoBtn {
    width: 20vh;
    height: 6vh;
    background-color: white;
  }
  .salirDeSubirFoto {
    font-size: 180%;
    margin-left: 6%;
  }
  .galeriaGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    position: absolute;
    top: 80px;
    left: 0;
    place-items: center;
  }
  .galeriaItem {
    width: 90%;
    height: 40vh;
    padding-top: 6%;
  }
  .nextIcon {
    right: 4px;
    color: white;
  }
  .prevIcon {
    color: white;
    left: 3px;
  }
  .popChatDelAdmin {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e3f2fd;
    width: 100%;
    height: 100%;
  }
  .conversacionCliente {
    z-index: 99;
    position: absolute;
    width: 100%;
    left: 0;
    top: -10vh;
  }
  .contentChatPublicidad {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    background-color: #e3f2fd;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
  }
  .chatDelAdministrador {
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: #007bff;
    margin-left: 2%;
  }
  .clienteReflejadoEnScroll {
    width: 100%;
    height: 90vh;
    background-color: #e3f2fd;
    overflow-y: auto;
  }
  .barraChat{
    width: 100%;
  }
  .chatear {
    position: fixed;
    justify-content: center;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 7%;
  }
  .sesionCloseOCambiar {
    position: absolute;
    width: 20vh;
    top: 14.8%;
    left: 78%;
    background-color: #007bff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .inicioSesion button {
    position: absolute;
    right: 1%;
    top: 4.5vh;
    height: 5vh;
  }
  /* .card2 {
    width: 33vh;
    height: 18vh;
    background-color: white;
    border-radius: 500px 500px 5px 5px;
  }
  .card1 {
    width: 33vh;
    height: 18vh;
    background-color: white;
    border-radius: 5px 5px 230px 230px;
  } */
  .card2:hover {
    display: none;
  }
  .card1:hover {
    display: none;
  }
  .contentPopupSesion {
    width: 41vh;
    height: 38vh;
    display: grid;
    place-items: center;
    background-color: #e6e6fa;
  }
  .popUpsesion {
    width: 100%;
    top: 0vh;
    left: 0%;
    background-color: #e6e6fa;
    display: grid;
    place-items: center;
  }
  .letraIniciodeSesion {
    top: 15%;
  }
  .newMessage {
    width: 70%;
    height: 5vh;
    border-radius: 25px;
    border: 1px solid #ced4da;
    position: fixed;
    bottom: 2%;
    left: 3%;
    background-color: white;
    color: black;
  }
  .Enviar {
    font-size: 180%;
    color: white;
    position: fixed;
    right: 8%;
    color: white;
    bottom: 2%;
  }
  .contentChatear {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: #007bff;
    align-items: center;
    display: flex;
  }
  .contentDonacionFormu {
    padding: 10px;
    margin-top: 38%;
  }

  .popupContent {
    padding: 10px;
  }

  .formularioDonacion input[type="text"],
  .formularioDonacion input[type="email"],
  .formularioDonacion input[type="tel"],
  .formularioDonacion input[type="number"],
  .formularioDonacion input[list],
  .formularioDonacion input[type="checkbox"],
  .formularioDonacion button {
    font-size: 14px;
    background-color: white;
  }
  .contentScrollFromBox {
    padding-top: 15%;
  }
  .mainContent {
    overflow-x: hidden;
    background-color: #d6f2ff;
  }
  .userName {
    margin: 0;
    color: #ffffff;
  }
  .popUpBasura {
    position: fixed;
    width: 80%;
    height: 20vh;
    background-color: #007bff;
    border-radius: 5px;
    top: 35%;
    left: 10%;
    color: white;
  }
  .btnNo {
    width: 23%;
    background-color: white;
    color: #007bff;
  }
  .btnSi {
    width: 23%;
    background-color: white;
    color: #007bff;
  }
  .closePublicacion {
    width: 76%;
    left: 12%;
  }
  .anuncioAdmin {
    margin-top: 32%;
  }
  .SubirPDFMOstrar {
    width: 40%;
    height: auto;
    border-radius: 99px;
    margin-left: 1%;
  }
  .linealSeparador {
    height: 1px;
    width: 10vh;
    background-color: black;
    margin-bottom: 8%;
  }
  .forma1 {
    margin-top: 11vh;
  }
  .tituloCurriculum {
    top: 26%;
  }
  .namePage h4 {
    width: 70%;
    font-size: 90%;
    height: auto;
    display: grid;
    place-items: center;
    align-items: center;
    font-weight: 900;
  }
  .forma5 b {
    font-size: 50%;
  }
  .todosLosTerminos{
    max-width: 30vh;
  }
  .terminosCOndicionesFormuDona b{
    width: 262px;
  }

}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .linealSeparador {
    height: 1px;
    width: 10vh;
    background-color: black;
    margin-bottom: 8%;
  }
  .contentRutasExpancioComunicado {
    display: flex;
    flex-direction: column;
  }
  .iconPublicatio {
    padding-top: 15%;
  }
  .publicidad {
    width: 25%;
    height: auto;
  }
  .galeriaGrid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .popChatDelAdmin {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e3f2fd;
    width: 100%;
    height: 100%;
  }
  .conversacionCliente {
    z-index: 99;
    position: absolute;
    width: 100%;
    left: 0;
    top: -10vh;
  }
  .contentChatPublicidad {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    background-color: #e3f2fd;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
  }
  .chatDelAdministrador {
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: #007bff;
    margin-left: 2%;
  }
  .clienteReflejadoEnScroll {
    width: 100%;
    height: 100vh;
    background-color: #e3f2fd;
    overflow-y: auto;
  }
  .chatear {
    position: relative;
    justify-content: center;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 7%;
  }
  .contentChatear {
    position: fixed;
  }
  .cartasContenExterior {
    width: 78%;
  }
  .navegacionUsuarioAdm {
    padding-top: 10%;
  }
  .contentCardExterior {
    padding-top: 10%;
  }
  .chatDelAdministrador {
    top: 8%;
  }
  .iniciarNuevoChat {
    top: 8%;
  }
  .dataUser {
    margin-top: 40%;
  }
  .popUpMenuBurger {
    width: 23%;
  }
  .forma5 b {
    font-size: 50%;
  }
  .forma4Sesion1 b {
    font-size: 70%;
  }
}
@media screen and (min-width: 770px) and (max-width: 999px){
.barraChat{
  width: 100%;
}
.scrollChatearCoversation{
  margin-top: 10%;
}
}
@media screen and (min-width: 900px) and (max-width: 1400px) {
  .resgistradoLogoFundaMostrar img {
    width: 4%;
  }
  .forma1 {
    margin-top: 10%;
  }
  .navegacionUsuarioAdm {
    padding-top: 10%;
  }
  .contentCardExterior {
    padding-top: 10%;
  }
  .anuncio {
    width: 80%;
  }
  .linealSeparador {
    width: 10vh;
  }
  .subirPublicacionCurrilum {
    top: 4%;
  }
  .tituloCurriculum {
    top: 35%;
  }
  .contentInnformacionFundaPublicidad {
    padding-top: 8vh;
  }
  .popUpMenuBurger {
    width: 23%;
  }
  .ContentpdfcuRRiculum {
    padding-top: 15%;
  }
  .contactosInformacionFundacion {
    margin-top: 3%;
  }
}
@media screen and (min-width: 900px) and (max-width: 1000px){
  .complementImageIcon{
    width: 25vh;
    top: 19vh;
  }
}
@media screen and (min-width: 300px) and (max-width: 350px) {
  .forma1 {
    margin-top: 15vh;
  }
  .forma1Texto1 {
    width: 90%;
  }
  .navegacionUsuarioAdm {
    padding-top: 18vh;
  }
  .adminFundaAyudaSubeFotoNombre {
    font-size: 55%;
  }
  .contentCardExterior{
    margin-top: 8vh;
  }
  .SubirPDFMOstrar button {
    top: 8vh;
  }
  .scrollUsuarios{
    padding-top: 8vh;
  }
  .barraChat{
    width: 100%;
  }
}
@media screen and (min-width: 351px) and (max-width: 410px) {
  .navegacionUsuarioAdm {
    padding-top: 18vh;
  }
  .adminFundaAyudaSubeFotoNombre {
    font-size: 55%;
  }
  .contentCardExterior{
    margin-top: 5vh;
  }
  .SubirPDFMOstrar button {
    top: 68%;
  }
  .scrollUsuarios {
    padding-top: 14vh;
  }
  .barraChat{
    width: 100%;
  }
}
@media screen and (min-width: 410px) and (max-width: 460px) {
  .SubirPDFMOstrar button {
    top: 2vh;
  }
  .barraChat{
    width: 100%;
  }
}
